body{
    padding: 0;
    margin: 0;
}
.block-a{
    background-color: dodgerblue;
}
.block-b{
    float: right;
}
.aLeft{
    margin: 250px 0 0 150px;
    color: white;
    line-height: 7;
}
 .aLeft .fa{
    padding-right: 20px;

}
.bRight{
    margin: 250px 150px 0 150px;
}
.log1{
    float:right;
}
.btn{
    border-radius: 999px;
}
hr{
    margin-top: 0;
    margin-bottom: 0;
}
.footer{
    padding-top: 5px;
}
.footer a{
    font-size: 12px;
    color: grey;
}
.row{
    height:95vh;
}

@media(min-width: 200px){

 .bRight{
        margin: 20px 20px 0 20px;
        padding-top: 20px;
    }
    .aLeft{
        margin: 40px 20px 0 40px;
        padding-top: 20px;
        line-height: 4;
    }
    .aLeft .fa{
        padding-right: 10px;
    }
    
}
@media(min-width: 768px){
    .aLeft{
        margin: 120px 0 0 20px;
        color: white;
        line-height: 7;
    }
     .aLeft .fa{
        padding-right: 20px;
    
    }
    .bRight{
        margin: 150px 0 0 20px;
    }
    
}  
@media(min-width: 1023px){
    .aLeft{
        margin: 250px 0 0 150px;
        color: white;
        line-height: 7;
    }
     .aLeft .fa{
        padding-right: 20px;
    
    }
    .bRight{
        margin: 250px 150px 0 150px;
    }
}  